<div class="project">
    <div class="card">
        <img src="assets/task.png" alt="" class="pi">
        <div class="card1">
            <div class="doc">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1>Weather-app</h1>
                    </div>
                    <div class="hea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://kalkiweather.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/earth.gif" alt=""></div>
                <!-- <div class="md">
                    <h3 style="color: aliceblue;">Weather-app</h3>
                    <div class="hea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/gitw.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://shimmering-crisp-3ff543.netlify.app/" target="_blank">
                            <img src="assets\eyew.png" alt="" class="eyew">
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="doc1">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="ih">Stop-watch</h1>
                    </div>
                    <div class="ihea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://kalkistopwatch.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                       
                    </div>
                </div>
                <div class="d"><img src="assets/clock.gif" alt=""></div>
                <!-- <h3 style="color: aliceblue;">Stop-watch</h3> -->
                
            </div>
            <div class="doc2">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="rh">Todo-List</h1>
                    </div>
                    <div class="rhea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://kalkitodo.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/edit.gif" alt=""></div>
                <!-- <h3 style="color: aliceblue;" >Todo-List</h3> -->
                
            </div>
            
        </div>
        <div class="card2">
            <div class="doc3">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="fh">Tic-Tac-Toe</h1>
                    </div>
                    <div class="fhea2">
                        <a href="https://github.com/Sujith1603/Project.git" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://kalkitictactoe.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/tic1.gif" alt=""></div>
                <!-- <h3 style="color: aliceblue;">Tic-Tac-Toe</h3> -->
                
            </div>
            
            <div class="doc4">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="mh">Landing-page</h1>
                    </div>
                    <div class="mhea2">
                        <a href="https://github.com/Sujith1603/AWP-LABPrograms.git" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://kalkilandingpage.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/gif.gif" alt=""></div>
                <!-- <h3 >Landing-page</h3> -->
                
            </div>
            
        </div>
    </div>
</div>