<div class="kalki">
    <div class="sujith">
        <div class="sujith1">
            <img src="assets\bat.png" alt="" class="bat">
            <div class="icons">
                <a href="https://www.instagram.com/Sujith_1603" target="_blank">
                    <img src="assets/insta.png" alt="Instagram" class="inst">
                </a>
                <a href="mailto:sujithrajani1603@gmail.com" target="_blank">
                    <img src="assets/mail.png" alt="Mail" class="mail">
                </a>
                <a href="https://www.linkedin.com/in/sujith1603/" target="_blank">
                    <img src="assets/linkedin.png" alt="LinkedIn" class="link">
                </a>
                <a href="https://github.com/Sujith1603" target="_blank">
                    <img src="assets/git.png" alt="GitHub" class="git">
                </a>
                <a href="https://x.com/Sujith1603" target="_blank">
                    <img src="assets/x.png" alt="X" class="x">
                </a>
            </div>
            
        </div>
       
    </div>
    <div class="copy">
        <img src="assets/copyright.png" alt=""><span class="nam">Sujith Sudhakaran</span>
    </div> 
</div>