<div class="about">
    <div class="about1">
        <div class="head1">
            <h1 class="ah">Hi</h1>
            <h1 class="ah">I'm <span class="name">
                    <span>S</span><span>u</span><span>j</span><span>i</span><span>t</span><span>h</span>
                </span>
                <span class="space"></span>
                <span class="name">
                    <span>S</span><span>u</span><span>d</span><span>h</span><span>a</span><span>k</span><span>a</span><span>r</span><span>a</span><span>n</span>
                </span>
            </h1>
            <h1 class="ah">Web Developer and Web Designer.</h1>
        </div>
        <div class="head2">
            <img src="assets/1-1.png" alt=""height="50px">
        </div>
    </div>
   
    <div class="about2">
        <p class="p">I am a driven and dedicated professional seeking a challenging role in a dynamic environment where I can further develop my skills and expertise. Highly skilled Angular Developer with a strong background in designing and developing user interfaces. Proven ability to deliver high-quality code, troubleshoot complex problems, and collaborate effectively with cross-functional teams.</p>
    </div>
    <h1 class="h">SKILLS</h1>
    <div class="skills">
        <div class="skills1">
            <img src="assets\html.png" alt="" class="html">
            <img src="assets\css.png" alt="" class="css">
            <img src="assets\js.png" alt="" class="js">
            <img src="assets\ts.png" alt="" class="ts">
            <img src="assets\figma.png" alt="" class="figma">
        </div>
        <div class="skills2">
            <img src="assets\node.png" alt="" class="node">
            <img src="assets\react.png" alt="" class="react">
            <img src="assets\ang.png" alt="" class="ang">
            <img src="assets\java.png" alt="" class="java">
            <img src="assets\bb.png" alt="" class="boot">
        </div>
    </div>
</div>
