<div class="nav">
    <div class="items">
        <img src="\assets\lo.png" alt=""class="img" >
        <h1 class="h1"  routerLink="/"routerLinkActive="active">Sujith</h1>
        <ul class="items1">
            <li class="it" routerLink="/"routerLinkActive="active">home</li>
            <li class="it" routerLink="/about"routerLinkActive="active">about</li>
            <li class="it"routerLink="/education"routerLinkActive="active">education</li>
            <li class="it"routerLink="/projects"routerLinkActive="active">projects</li>
            <li class="it"routerLink="/contact"routerLinkActive="active">contact</li>
            <a href="assets/Sujith resume.pdf" download="Sujith_Resume.pdf">
                <button class="but">Download Resume</button>
            </a>
            
        </ul>
    </div>
</div>