<div class="project">
    <div class="card">
        <img src="assets/proje1.png" alt="" class="pi">
        <div class="card1">
            <div class="doc">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1>DOC+</h1>
                    </div>
                    <div class="hea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://shimmering-crisp-3ff543.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/d.png" alt=""></div>
                <h3 style="color: aliceblue;">Interactive website for door-to-door medication</h3>
            </div>
            <div class="doc1">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="ih">iBot</h1>
                    </div>
                    <div class="ihea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://charming-frangipane-83a592.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                       
                    </div>
                </div>
                <div class="d"><img src="assets/101.ico" alt=""></div>
                <h3 style="color: aliceblue;">Interactive website for upcoming Filmmakers</h3>
                
            </div>
            <div class="doc2">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="rh">Retinal Detection</h1>
                    </div>
                    <div class="rhea2">
                        <a href="https://github.com/Sujith1603/Doc-plus" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <img src="assets\eye.png" alt="" class="eye">
                    </div>
                </div>
                <div class="d"><img src="assets/i.png" alt=""></div>
                <h3 style="color: aliceblue;" >Detecting defected retinal images using Python</h3>
                
            </div>
            
        </div>
        <div class="card2">
            <div class="doc3">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="fh">Faculty.cutmap</h1>
                    </div>
                    <div class="fhea2">
                        <a href="https://github.com/Sujith1603/Project.git" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <a href="https://eclectic-kashata-6d15a5.netlify.app/" target="_blank">
                            <img src="assets\eye.png" alt="" class="eye">
                        </a>
                    </div>
                </div>
                <div class="d"><img src="assets/id.png" alt=""></div>
                <h3 style="color: aliceblue;">Interactive website for managing Faculty details</h3>
                
            </div>
            
            <div class="doc4">
                <div class="hea">
                    
                    <div class="hea1">
                        <h1 class="mh">Mini-Projects</h1>
                    </div>
                    <div class="mhea2">
                        <a href="https://github.com/Sujith1603/AWP-LABPrograms.git" target="_blank">
                            <img src="assets/git.png" alt="GitHub" class="git">
                        </a>
                        <img src="assets\eye.png" alt="" class="eye" routerLink="/minitasks" routerLinkActive="active">
                    </div>
                </div>
                <div class="d"><img src="assets/mang.png" alt=""></div>
                <h3 style="color: aliceblue;">Mini projects scha as tic-tac-toe game,weather app,etc</h3>
                
            </div>
            
        </div>
    </div>
</div>