/* You can add global styles to this file, and also import other style files */
body{
    background-color: black !important;
    
    
    margin-left: 45px!important;
    margin-top: 0px;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
  